
/* .new-post {
    background-color: #eff1f5;
    padding: 24px;
    height: 260px;
    width: 460px;
    border-radius: 24px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
} */
/* Necessário para o margin funcionar */
/* aqui */

.post {
    text-align: center;
    margin: 0 auto;
    position: relative; 
    margin-top: -50vw;
    left: -0vw;
    width: 750px;
    background-color: rgb(238, 236, 236);
    box-shadow: -15px 15px 19px rgba(52, 52, 52, 0.575);
    border-radius: 40px;
    font-size: 25px;
    padding: 10% 5%;
    overflow: -moz-hidden-unscrollable;
    word-wrap: break-word;
}

.btns {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0.3rem;
    margin-top: 30px;
}

/* .btns button {
    color: rgba(255, 255, 255, 0.938);
    font-size: 1.3rem;
    border: 0;

    border-radius: 10px;

    font-family: Heebo;
    font-weight: 700;
    
    cursor: pointer;

    padding: 7px 20px;
} */

.btn-edit button{
    width: 150px;
    height: 47px;
    border: 3px solid #565656;
    position: relative;
    left: 5vw;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    transition: all 0.3s;
    cursor: pointer;
    background: rgb(255, 255, 255);
    font-size: 1.3 rem;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
}

.btn-edit button:hover{
    background: #517a15;
    font-size: 0.7em;
    color: white;
}

.btn-LerMais button{
    width: 150px;
    height: 47px;
    border: 3px solid #565656;
    position: relative;
    left: 0.5vw;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    transition: all 0.3s;
    cursor: pointer;
    background: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
}

.btn-LerMais button:hover{
    background: #0dcc27;
    font-size: 0.7em;
    color: white;
}

.btn-LerMais{
    padding-top: 1rem;
}

.btn-delete button {
    width: 150px;
    height: 47px;
    border: 3px solid #565656;
    position: relative;
    right: 4vw;
    color: black;
    border-radius: 30px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.3 rem;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
}

.btn-delete button:hover{
    background: #711919;
    font-size: 0.7em;
    color: white;
}

/* .ContentPost {
    position: relative;
    background-color: rgb(210, 210, 210);
    border-radius: 45px;
    height: auto;
    padding: 5% 5%;
} */

.ContentPost{
    position: relative;
    top: 20px;
    bottom: 40px;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
  }



    /* .post {
        position: relative;
        margin-top: -50vw;
        left: -0vw;
        width: 750px;
        background-color: rgb(238, 236, 236);
        box-shadow: -15px 15px 19px rgba(52, 52, 52, 0.575);
        border-radius: 40px;
        font-size: 25px;
        padding: 50px;
        overflow: -moz-hidden-unscrollable;
    } */



    /* .textboxuser{
        position: relative;
        top: 70px;
        color: rgb(0, 0, 0);
        text-shadow: 1px 2px 5px rgb(175, 175, 175);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 10px 0; 
        padding: 10px; 
    } */
/* Adicione preenchimento conforme necessário */
/* Espaçamento entre os posts */


/* .textboxuser{
    position: relative;
    top: 70px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px 5px rgb(175, 175, 175);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0; 
    padding: 10px; 
    height: auto;
} */
/* Espaçamento entre os posts */
/* Adicione preenchimento conforme necessário */

.btn-newPost{
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.btn-newPost:disabled{
    pointer-events: none;
}

.btn-newPost:hover{
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.btn-newPost:active{
    box-shadow: none;
    transform: translateY(0);
}



.BoxPostUser {
    position: relative;
    background-color: rgb(210, 210, 210);
    box-shadow: -10px 12px 20px rgb(163, 163, 163);
    border: solid 1px rgba(0, 0, 0, 0.393);
    top: 90px;
    margin-top: 20px;
    color: #000000;
    font-weight: bold;
    border-radius: 45px;
    /*height: 300px;*/
    overflow: hidden;
  }

