/* styles.css */

* {
  box-sizing: border-box;
}


body {
  font-family: 'Open Sans', sans-serif;
}

/* Estilos da classe .App */
.App {
  text-align: center;
}

/* Estilos da classe .App-logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Estilos da classe .App-logo com animação */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(204, 129, 32);
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Landing Page */
.landing-page header {
  min-height: 80px;
  display: flex;
}
@media (max-width: 767px) {
  .landing-page header {
    min-height: auto;
    display: initial;
  }
}
.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .landing-page header .container {
    flex-direction: column;
    justify-content: center;
  }
}
.landing-page header .logo {
  color: #000000;
  font-style: italic;
  text-transform: uppercase;
  font-size: 40px;
  position: fixed;
  left: 22vw;
}

.Square2{
width: 1900px;
height: 100px;
background-color: rgb(247, 247, 247);
position: fixed;
top: 0vw;
left: 14vw;
z-index: -1;
border-radius: 0px 0px 20px 20px;
box-shadow: 3px 6px 14px black;

}

@media (max-width: 767px) {
  .landing-page header .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.landing-page header .links {
  display: flex;
  align-items: center;
  position: fixed;
  left: 54vw;
}
@media (max-width: 767px) {
  .landing-page header .links {
    text-align: center;
    gap: 10px;
  }
}
.landing-page header .links li {
  margin-left: 30px;
  color: #000000;
  cursor: pointer;
  transition: .3s;
}
@media (max-width: 767px) {
  .landing-page header .links li {
    margin-left: auto;
  }
}
.landing-page header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFF;
  background-color: #ce7c11;
}
.landing-page header .links li:not(:last-child):hover {
  color: #ce7c11;
}
.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);
}
@media (max-width: 767px) {
  .landing-page .content .container {
    gap: 0;
    min-height: calc(100vh - 101px);
    justify-content: center;
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px 
  }
}
.landing-page .content .info h1 {
  color: #000000;
  font-size: 90px;
}
.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
}
.landing-page .content .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #ce7c11;
}

.form-control{
  border-radius: 20px;
  border: solid rgba(99, 99, 99, 0.288);
  width: 400px;
  height: 40px;
  position: fixed;
  right: 50vw;
  text-align: center;
  font-weight: bold;
}

.navbar{
  display: flex;  
  padding-left: 37%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: absolute;
  top: 1.6%;
  right: 46.4%;
  
}


.btn{
  width: 100px;
  height: 40px;
  border-radius: 30px;
  border: solid #ce7c11;
  background-color: #ce7c11;
  position: fixed;
  left: 50vw;
  color: white;
  font-weight: bolder;
}

.landing-page .content .image img {
  max-width: 1000%;
  display: flex;
}


.Square{
  position: relative;
  left: 8vw;
  top: -90vh;
  width: 2200px;
  height: 4000px;
  z-index: -1;
  background-color: rgb(255, 255, 255);
  filter: blur(0px);
  border: 2px solid rgba(0, 0, 0, 0.299);
  box-shadow: 5px 5px 20px;
  border-radius: 40px;

}

/* End Landing Page */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes textScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}





