/* styles.css */

* {
  box-sizing: border-box;
}


body {
  font-family: 'Open Sans', sans-serif;
}

/* Estilos da classe .App */
.App {
  text-align: center;
}

/* Estilos da classe .App-logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Estilos da classe .App-logo com animação */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(204, 129, 32);
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Landing Page */
.landing-page header {
  min-height: 80px;
  display: flex;
}
@media (max-width: 767px) {
  .landing-page header {
    min-height: auto;
    display: initial;
  }
}
.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .landing-page header .container {
    flex-direction: column;
    justify-content: center;
  }
}
.landing-page header .logo {
  color: #000000;
  font-style: italic;
  text-transform: uppercase;
  font-size: 40px;
  position: fixed;
  left: 17vw;
  z-index: 10;
}

.Square2{
width: 1900px;
height: 100px;
background-color: rgb(247, 247, 247);
position: fixed;
top: 0vw;
left: 12vw;
z-index: 5;
border-radius: 0px 0px 20px 20px;
box-shadow: 2px 3px 15px black;

}

@media (max-width: 767px) {
  .landing-page header .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.landing-page header .links {
  display: flex;
  align-items: center;
  position: fixed;
  left: 54vw;
}
@media (max-width: 767px) {
  .landing-page header .links {
    text-align: center;
    gap: 10px;
  }
}
.landing-page header .links li {
  margin-left: 30px;
  color: #000000;
  cursor: pointer;
  transition: .3s;
}
@media (max-width: 767px) {
  .landing-page header .links li {
    margin-left: auto;
  }
}
.landing-page header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFF;
  background-color: #ce7c11;
}
.landing-page header .links li:not(:last-child):hover {
  color: #ce7c11;
}
.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);
}
@media (max-width: 767px) {
  .landing-page .content .container {
    gap: 0;
    min-height: calc(100vh - 101px);
    justify-content: center;
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px 
  }
}
.landing-page .content .info h1 {
  color: #000000;
  font-size: 90px;
}
.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
}
.landing-page .content .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #ce7c11;
  
}

.form-control{
  position: fixed;
  left: 29vw;
  width: 500px;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

.form-control:focus{
  background-color: rgb(235, 233, 233);
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}

.navbar{
  display: flex;  
  padding-left: 37%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: absolute;
  top: 1.6%;
  right: 46.4%;
  z-index: 10;
}


.btn{
  position: fixed;
  width: 110px;
  top: -0vw;
  left: 49vw;
  height: 50px;
  display: inline-block;
  margin: 15px;
  padding: 12px 20px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #000000;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #bb8d0f;
  border-radius: 30px;
  box-shadow: inset 0 0 0 0 #cf7702;
}

.btn:hover{
  color: white;
  box-shadow: inset 0 -100px 0 0 #e48212;
}

.btn:active{
  transform: scale(0.9);
}

.landing-page .content .image img {
  max-width: 1000%;
  display: flex;
}


.Square{
  position: relative;
  left: 14vw;
  top: -90vh;
  width: 1800px;
  height: 1000px;
  z-index: -1;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(0, 0, 0, 0.299);
  box-shadow: 1px 3px 14px;
  border-radius: 40px;

}

.Square3{
  position: relative;
  left: 28vw;
  top: -87vh;
  width: 1000px;
  height: 1400px;
  z-index: -1;
  background-color: rgb(255, 255, 255);
  filter: blur(0px);
  border: 2px solid rgba(0, 0, 0, 0.299);
  box-shadow: 5px 5px 20px;
  border-radius: 40px;

}


.card {
  width: 350px;
  height: 500px;
  position: relative;
  top: -98vw;
  right: 29vw;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 26px;
  z-index: 1;
  box-shadow: -2px 2px 10px;
 }
 
 .tools {
  display: flex;
  align-items: center;
  padding: 9px;
 }
 
 .circle {
  padding: 0 4px;
 }
 
 .box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
 }

.NomeUser{
  text-align: center;
  position: relative;
  top: 4vw;
  color: #636060;
  font-weight: 200;
}

.UserImage{
  position: relative;
  left: 4vw;
  top: 3vw;
}


.Skill{
  text-align: center;
  position: relative;
  letter-spacing: -1px;
  top: 4.3vw;
  color: #646262;
}

.circle{
  position: relative;
  top: -12.4vw;
}
 
 .red {
  background-color: #ff605c;
 }
 
 .yellow {
  background-color: #ffbd44;
 }
 
 .green {
  background-color: #00ca4e;
 }
 


.AreaShare{
  float: left;
  background-color: solid 0.5px #9db3c8;
  border: solid 1px;
  border-radius: 20px;
  padding-left: 10px;
  font-size: 12pt;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height:50px;
  width: 450px;
  margin-top: 40px;
  position: relative;
  left: 10vw;
}

.UploadForMidia{
  position: relative;
  top: -117vw;
  left: 29vw;
}

.ButtonVip{
  position:relative;
  left: 3.9vw;
  top: 4.4vw;
}

.buttonVip{
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.buttonVip:hover{
  color: black;
}

.buttonVip::after{
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}


.buttonVip:hover::after{
  transform: skewX(-45deg) scale(1, 1);
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}



/* End Landing Page */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes textScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}





